<!--
    header partials for the webpages. incldes the navbar for all the pages 
    Inhee Park (301162514), 
    October 8th, 2022
-->

<header>
    <div class = "navigation-bar">
        <div id = "navigation-container">
            <img class = "logo" src="/images/Logo.png">
            <ul class="menu">
                <li><a href="/">Home Page</a></li>
                <li><a href="/views/About.ejs">About Page</a></li>
                <li><a href="/views/Contact.ejs">Contact Page</a></li>
                <li><a href="/views/Projects.ejs">Project Page</a></li>
                <li><a href="/views/Service.ejs">Service Page</a></li>
                <li><a href="/views/Inventory.ejs">Inventory</a></li>
            </ul>
        </div>
    </div>
</header>