<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/Home.css">
</head>
<body>
    <header>
        <div class = "navigation-bar">
            <div id = "navigation-container">
                <img class = "logo" src="/images/Logo.png">
                <ul class="menu">
                    <li><a href="/">Home Page</a></li>
                    <li><a href="/views/About.ejs">About Page</a></li>
                    <li><a href="/views/Contact.ejs">Contact Page</a></li>
                    <li><a href="/views/Projects.ejs">Project Page</a></li>
                    <li><a href="/views/Service.ejs">Service Page</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="welcome-section">
            <br>
            <h1>
                Welcome to my Portfolio Website
            </h1>
            <img src="/images/ImgOne.jpeg" alt="">
            <p class="welcome-p">
                Hi! welcome to my portfolio website! <br>
                My name is Inhee Park and I'm currently a student at centennial college. <br>
                I study software engineering.
            </p>
        </div>
        <br>
        <div class="mission-section">
            <br>
            <h2>
                My mission is to give value
            </h2>
            <img src="/images/ImgTwo.jpeg" alt="">
            <p>
                As I learn programming, I have learned that <br>
                I can give a lot of values through my experience as a programmer. <br>
                I will continue to learn and grow as a programmer and give value.
            </p>
            <button><a href="/views/About.ejs">More about me</a></button> <button><a href="/views/Contact.ejs">Let's connect!</a></button> <button><a href="/views/Projects.ejs">Past projects</a></button> <button><a href="/views/Service.ejs">Services i provide</a></button>
        </div>
    </main>
    <footer>
        <p style="text-align: center;">
            Made with love <br>
            COMP 229 Section 005 Fall 2022 <br>
            301162514 Inhee Park. <br>
        </p>
    </footer>
</body>
</html>