<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="/stylesheets/Project.css">
</head>
<body>
    <!--
        Projects page. includes the header and footer partials. 
        Inhee Park (301162514), 
        October 8th, 2022
    -->
    <% include partials/header.ejs %>
    <main>
        <br>
        <h1>
            Projects I'm currently working on
        </h1>
        <br>
        <div class="project-one">
            <h2>
                Tick Tack Toe Game
            </h2>
            <img src="/images/tictaktoe.jpeg" alt="">
            <h4>
                description
            </h4>
            <p>
                A simple front end game that let's you and an another player play tick tack toe. <br>
                It also tracks the score board, and congratulates the winner!
            </p>
            <h4>Technology</h4>
            <p>HTML5, CSS3, JavaScript</p>
        </div>
        <div class="project-two">
            <h2>
                Password Generator
            </h2>
            <img src="/images/password.jpeg" alt="">
            <h4>
                description
            </h4>
            <p>
                A simple front end app that randomly generates passwords for you. <br>
                you can choose specification on your password, such as including or not including<br>
                uppercase letters, special symbols, numbers and setting the length of password.
            </p>
            <h4>Technology</h4>
            <p>HTML5, CSS3, JavaScript</p>
        </div>
        <div class="project-three">
            <h2>
                Expense Diary
            </h2>
            <img src="/images/expense.jpeg" alt="">
            <h4>
                description
            </h4>
            <p>
                in this app, you can add an entry of your date and add items of what you have spent <br>
                you can also set expense limit and see the total amount of expense spent on each entry.
            </p>
            <h4>Technology</h4>
            <p>HTML5, CSS3, JavaScript</p>
        </div>
    </main>
    <% include partials/footer.ejs %>
    
</body>
</html>