<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Services</title>
    <link rel="stylesheet" href="/stylesheets/Service.css">
</head>
<body>
    <!--
        Service page. includes the header and footer partials. 
        Inhee Park (301162514), 
        October 8th, 2022
    -->
    <% include partials/header.ejs %>
    <main>
        <br>
        <h1>
            Services I offer
        </h1>
        <div class="front-end-section">
            <h2>Front End Development</h2>
            <img src="/images/frontend.jpeg" alt="">
            <p>
                HTML5, CSS3, JavaScript
            </p>
        </div>
        <div class="other-lang-section">
            <h2>Other Proficient languages</h2>
            <img src="/images/otherlang.jpeg" alt="">
            <p>C#, Java</p>
        </div>
        <div class="database-section">
            <h2>Database </h2>
            <img src="/images/oracledb.png" alt="">
            <p>SQL, Oracle DBMS</p>
        </div>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>