/*
Project view css file for app
Inhee Park (301162514)
October 21st, 2022
*/

body{
    margin: 0;
    padding: 0;
} 

.logo{
    float: left;
}

#navigation-container{
    width: 1200px;
    margin: 0 auto;
    height: 70px;
}

.navigation-bar{
    height: 70px;
    width: 100%;
    text-align: center;
}

.navigation-bar img{
    float: left;
    height: 100px;
    width: 100px;
}

.navigation-bar ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.navigation-bar li{
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.navigation-bar li a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;

}

#menu{
    float: right;
}

h1{
    text-align: center;
}

.project-one{
    text-align: center;
}
.project-one img{
    width: 400px;
    height: 400px;
}

.project-two{
    text-align: center;
}
.project-two img{
    height: 400px;
    width: 400px;
}

.project-three{
    text-align: center;
}
.project-three img{
    height: 400px;
    width: 400px;
}