/*
Service view css file for app
Inhee Park (301162514)
October 21st, 2022
*/

body{
    margin: 0;
    padding: 0;
} 

.logo{
    float: left;
}

#navigation-container{
    width: 1200px;
    margin: 0 auto;
    height: 70px;
}

.navigation-bar{
    height: 70px;
    width: 100%;
    text-align: center;
}

.navigation-bar img{
    float: left;
    height: 100px;
    width: 100px;
}

.navigation-bar ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.navigation-bar li{
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.navigation-bar li a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;

}

#menu{
    float: right;
}

h1{
    text-align: center;
}

.front-end-section{
    text-align: center;
}
.front-end-section img{
    height: 300px;
    width: 400px;
}

.other-lang-section{
    text-align: center;
}
.other-lang-section img{
    height: 300px;
    width: 400px;
}

.database-section{
    text-align: center;
}
.database-section img{
    height: 300px;
    width: 300px;
}